body {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}

*{
font-family: Inter;
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
box-sizing:border-box;
padding: 0;
margin: 0 auto;
}
a{
text-decoration: none;
}

a:hover{
text-decoration: underline;
color: coral;
}

header {
padding: 36px;
font-family: 'Inter', sans-serif;
width: 100%;
height: 146px;
display: flex;
align-items: center;
justify-content: center;
    }

.header-tor {
display: flex;
align-items: center;
justify-content: space-evenly;
    }

.header-top-logo {
position: absolute;
top: 0;
width: 180px;
height: 180px;
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
padding-top: 36px;
background-color: white;
border-radius: 50%;
}

.header-top-logo img{
padding: 10px;
}

nav {
display: flex;
flex-direction: row;
gap: 250px;
align-items: center;
justify-content: center;
}
nav ul {
Display: flex;
max-width: 580px;
Flex-direction: row;
Flex-wrap: wrap;
Align-items: center;
gap: 20px 50px;
justify-content: center;
}
nav ul li {
list-style: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.video {
    font-family: 'Inter', sans-serif;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.action-video {
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0;
margin: 0;
width: 1920px;
gap: 20px;
}

.background-vectors {
max-width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
padding-top: 75px;
padding-bottom: 75px;
}

h2 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #304275;
font-family: Dela Gothic One;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
gap: 75px;
padding-bottom: 50px;
}
.news {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
h3 {
color: #FFF;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
h4 {
color: #FFF;
font-family: Inter;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
p {
color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.news-secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.news-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;

    background-image: url(images/Rectangle14.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.news-item1 p {
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    width: 589.088px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

}
.news-item2 {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/Rectangle16.png);
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    grid-row-gap: 50px;
    display: flex;
    width: 339.911px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    row-gap: 33px;

}
.news-item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    background-image: url(images/Rectangle161.png);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    width: 339.911px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

}  

img.news-item1 {
    width: 937px;
    height: 531px;
    flex-shrink: 0;
   }

img.news-ph2 {
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
   }
img.news-ph3 {
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
   }

.news2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.news-secondary2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.spisok {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        text-align: left;
}

.news-item4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px; 
    flex-shrink: 0;
    background-image: url(images/Rectangle161.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: rgba(255, 255, 255, 0.60);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-size: 24px;
    font-weight: 800;
    line-height: normal;
}
    
    .news-item5 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 439px;
        height: 250px;    
        background-image: url(images/Rectangle16.png);
        border-radius: 30px;
        box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
        color: #262D33;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 30px;

        grid-row-gap: 50px;
    }

.news3 {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    Align-items: center;
    justify-content: center;
}
 .container3 {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px;
    grid-template-areas:
    "A C E"
    "B D F";
                    
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 5% 5% 20px;
 }

 .news-last1 {
    display: flex;
    grid-area: A;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    background-image: url(images/Rectangle16.png);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);

 }

 .news-last2 {
    display: flex;
    grid-area: B;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    background-image: url(images/Rectangle161.png);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
 }

 .news-last3 {
    display: flex;
    grid-area: C;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    background-image: url(images/Rectangle161.png);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
 }

 .news-last4 {
    display: flex;
    grid-area: D;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    background-image: url(images/Rectangle16.png);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    
 }

 .news-last5 {
    display: flex;
    grid-area: E;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    background-image: url(images/Rectangle16.png);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
 }

 .news-last6 {
    display: flex;
    grid-area: F;
    align-items: center;
    justify-content: center;
    width: 439px;
    height: 250px;    
    flex-shrink: 0;
    background-image: url(images/Rectangle161.png);
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    color: #262D33;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: contain;
    background-position: center;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
 }

