<img src="images/Rectangle 16 (1).png" alt="" class="news-ph3">

<img src="images/Rectangle 16.png" alt="" class="news-ph2">

<img src="images/Rectangle 14.png" alt="" class="news_ph1">







padding: 36px 870px 4734px 870px; 
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    width: 565px;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    gap: 20px 50px;
    flex-shrink: 0;
    flex-wrap: wrap;



    .main-nav1 {
        display: flex;
        position: relative;
        width: 565px;
        height: 74;
        margin-right: 379px;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 20px 50px;
        flex-shrink: 0;
        flex-wrap: wrap;
        box-sizing: border-box
    }
    
    .main-nav2 {
        display: flex;
        position: relative;
        width: 565px;
        height: 74;
        margin-left: 379px;
        align-items: flex-start;
        align-content: flex-start;
        gap: 20px 50px;
        flex-shrink: 0;
        flex-wrap: wrap;
        padding: 20px 50px;
        box-sizing: border-box
        }